{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    <div class="container">

      <header>
        <h1 class="page-header">🤐 Big Brother is Watching <del>You</del> Them.</h1>
        <p class="lead">Sniff is a marketing campaign tracker. It checks the availability of the given URL, shortens it, and tracks who / when / where / how the link is clicked.</p>
        <p><a href="{{ url_for('url_shortener_form') }}" class="btn btn-primary btn-lg">Take me to it!</a></p>
      </header>

    </div>
{% endblock %}
