{% extends "dashboard/layout.html" %}
{% set active_page = 'url_shortener_form' -%}
{% block title %}URL Shortener{% endblock %}
{% block content %}
      <section>

        <form class="" action="{{ url_for('url_shortener') }}" method="post">
          <div class="form-group">
            <div class="input-group">
              <input type="url" name="url" value="" placeholder="https://www.example.com" class="form-control input-lg">
              <span class="input-group-btn"><input type="submit" name="" value="➜" class="btn btn-primary btn-lg"></span>
            </div>
          </div>
        </form>

        {% if shortened %}
        <div class="result">
          <h2>Shortened URL</h2>
          <p class="lead"><a href="{{ url_for('go', surl=shortened.get('short')) }}">{{ host + shortened.get('short') }}</a></p>
          <p><img class="img-thumbnail" src="{{ shortened.get('qrcode').url }}" alt=""></p>
        </div>
        {% endif %}

      </section>
{% endblock %}
